html, body {
}

body {
  margin: auto;
  padding: 20px;
}

main {
  max-width: 80ch;
  margin: auto;
}

main > nav {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  text-align: center;
}

canvas {
  border: 5px solid var(--text);
  display: block;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 900;
  margin: auto;
}
